[submodule "pybind/pybind11"]
	path = pybind/pybind11
	url = https://github.com/pybind/pybind11
[submodule "samples/genie/c++/External/DuoTools"]
	path = samples/genie/c++/External/DuoTools
	url = https://github.com/msiner/DuoTools
[submodule "samples/genie/c++/External/cpp-httplib"]
	path = samples/genie/c++/External/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "samples/genie/c++/External/fmt"]
	path = samples/genie/c++/External/fmt
	url = https://github.com/fmtlib/fmt
[submodule "samples/genie/c++/External/json"]
	path = samples/genie/c++/External/json
	url = https://github.com/nlohmann/json
