[submodule "pybind/pybind11"]
	path = pybind/pybind11
	url = https://github.com/pybind/pybind11
[submodule "samples/genie/c++/External/cpp-httplib"]
	path = samples/genie/c++/External/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "samples/genie/c++/External/json"]
	path = samples/genie/c++/External/json
	url = https://github.com/nlohmann/json
[submodule "samples/genie/c++/External/curl"]
	path = samples/genie/c++/External/curl
	url = https://github.com/curl/curl
[submodule "samples/genie/c++/External/llama.cpp"]
	path = samples/genie/c++/External/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "samples/genie/c++/External/MNN"]
	path = samples/genie/c++/External/MNN
	url = https://github.com/alibaba/MNN
[submodule "samples/genie/c++/External/cli11"]
	path = samples/genie/c++/External/cli11
	url = https://github.com/CLIUtils/CLI11
