out*.jpg
out*.png
*.npz
*.wav
*.npy
*.ttc
stable_diffusion_v2_1/models/
stable_diffusion_v2_1/images/
stable_diffusion_v1_5/models/
stable_diffusion_v1_5/images/
resnet_3d/input.mp4
quicksrnetmedium/input.png
openai_clip/images/
inception_v3/models/imagenet_classes.txt
googlenet/dog.jpg
googlenet/models/imagenet_labels.json
facemap_3dmm/demo_output_lmk.txt
facemap_3dmm/face_img_fbox.txt
depth_anything/input.jpg
beit/models/imagenet_labels.json
beit/input.jpg