[workspace]
channels = ["conda-forge"]
name = "py312"
platforms = ["win-64"]
version = "0.1.0"

[tasks]
install-qai = { cmd = [
  "python",
  "python/setup.py",
], cwd = "../ai-engine-direct-helper/samples/" }
install-model = { cmd = ["python", "utils/Install_LLM_Models.py"], cwd = ".." }
install-langflow = { cmd = "uv pip install langflow==1.1.1 --trusted-host=pypi.org --trusted-host=files.pythonhosted.org", depends-on = [
  "install-qai",
] }
webui-imagerepair = { cmd = "python ./webui/ImageRepairApp.py", cwd = "../ai-engine-direct-helper/samples" }
webui-stable-diffusion = { cmd = "python ./webui/StableDiffusionApp.py", cwd = "../ai-engine-direct-helper/samples" }
webui-genie = { cmd = "python ./webui/GenieWebUI.py", cwd = "../ai-engine-direct-helper/samples" }
install-git = { cmd = ["7z", "x", "tools/Git-2.50.0.2-arm64.7z.exe", "-otools/Git", "-bso0", "-bse0", "-bsp1"], cwd = ".." }

[dependencies]
python = "3.12.8.*"
pip = "*"
7zip = "*"

[pypi-dependencies]
uv = ">=0.7.19, <0.8"
requests = ">=2.32.4, <3"
py3-wget = ">=1.0.12, <2"
tqdm = ">=4.67.1, <5"
importlib-metadata = ">=8.7.0, <9"
qai-hub = ">=0.30.0, <=0.30.0"
qai-hub-models = ">=0.30.2, <=0.30.2"
huggingface-hub = ">=0.33.2, <0.34"
pillow = ">=11.3.0, <12"
numpy = ">=1.26.4, <2"
opencv-python = ">=4.11.0.86, <5"
torch = ">=2.5.1, <3"
torchvision = ">=0.20.1, <0.21"
torchaudio = ">=2.5.1, <3"
transformers = "==4.45"
diffusers = ">=0.34.0, <0.35"
ultralytics = "==8.0.193"
gradio = ">=5.35.0, <6"
uvicorn = ">=0.35.0, <0.36"
pydantic-settings = ">=2.10.1, <3"
fastapi = ">=0.115.14, <0.116"
langchain = ">=0.3.26, <0.4"
langchain-core = ">=0.3.67, <0.4"
langchain-community = ">=0.3.27, <0.4"
sse-starlette = ">=2.3.6, <3"
pypdf = ">=5.7.0, <6"
python-pptx = ">=1.0.2, <2"
docx2txt = ">=0.9, <0.10"
openai = ">=1.93.0, <2"
